# -*- mode: conf -*-

# Core records
{% for link in local.public_v4s %}
@           {{ ttl }} IN A {{ link }}
www         {{ ttl }} IN A {{ link }}
registry    {{ ttl }} IN A {{ link }}
mirror      {{ ttl }} IN A {{ link }}
buildcache  {{ ttl }} IN A {{ link }}
{% endfor %}

# Gitlab
gitlab      {{ ttl }} IN A {{ sroo.public_v4 }}

# Host records
## The hand-rolled hosts
sucker.h.dia0.site      {{ ttl }} IN A 10.0.0.16
heiroglyph.h.dia0.site  {{ ttl }} IN A 10.0.0.22
## The modes
fuhok-migir.h.dia0.site {{ ttl }} IN A 10.0.0.24
kadib-mifin.h.dia0.site {{ ttl }} IN A 10.0.0.25
banat-kukol.h.dia0.site {{ ttl }} IN A 10.0.0.26
## The old blue laptop
gamis-nakag.h.dia0.site {{ ttl }} IN A 10.0.0.27
## The two dells
rijay-bojib.h.dia0.site {{ ttl }} IN A 10.0.0.28
kisuf-manag.h.dia0.site {{ ttl }} IN A 10.0.0.29
