# -*- mode: conf -*-

# Fastmail
@              {{ ttl }} IN MX 10 in1-smtp.messagingengine.com.
@              {{ ttl }} IN MX 20 in2-smtp.messagingengine.com.
fm1._domainkey {{ ttl }} IN CNAME fm1.tirefireind.us.dkim.fmhosted.com.
fm2._domainkey {{ ttl }} IN CNAME fm2.tirefireind.us.dkim.fmhosted.com.
fm3._domainkey {{ ttl }} IN CNAME fm3.tirefireind.us.dkim.fmhosted.com.

@ {{ ttl }} IN TXT v=spf1 include:spf.messagingengine.com ?all

# Core records
{% for link in local.public_v4s %}
@           {{ ttl }} IN A {{ link }}
www         {{ ttl }} IN A {{ link }}
registry    {{ ttl }} IN A {{ link }}
mirror      {{ ttl }} IN A {{ link }}
buildcache  {{ ttl }} IN A {{ link }}
feed        {{ ttl }} IN A {{ link }}
{% endfor %}

# Gitlab
gitlab      {{ ttl }} IN A {{ sroo.public_v4 }}

# Host records
## The hand-rolled hosts
feed.h.dia0.site        {{ ttl }} IN A 10.0.0.5
sucker.h.dia0.site      {{ ttl }} IN A 10.0.0.16
chisel.h.dia0.site      {{ ttl }} IN A 10.0.0.20
heiroglyph.h.dia0.site  {{ ttl }} IN A 10.0.0.22
## The modes
fuhok-migir.h.dia0.site {{ ttl }} IN A 10.0.0.24
kadib-mifin.h.dia0.site {{ ttl }} IN A 10.0.0.25
banat-kukol.h.dia0.site {{ ttl }} IN A 10.0.0.26
## The old blue laptop
gamis-nakag.h.dia0.site {{ ttl }} IN A 10.0.0.27
